.container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText {
  margin-bottom: 3.5%;
}

.title {
  margin-bottom: 1%;
  line-height: 1.15;
  font-size: 3.5rem;
  color: #AD9742 !important;
}

.subTitle {
  font-size: 1.5rem;
}

.title,
.subTitle {
  color: white;
  text-align: center;
}

.searchbar {
  width: 100%;
  display: flex;
  gap: 15px;
  padding-bottom: 5%;
}

.dropdownButton {
  width: 230px;
  border-radius: 6px;
}

.liquidLogo {
  height: 6rem;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
